image: owncloudci/bazel-buildifier:latest
manifests:
  - image: owncloudci/bazel-buildifier:amd64
    platform:
      architecture: amd64
      os: linux
  - image: owncloudci/bazel-buildifier:arm64v8
    platform:
      architecture: arm64
      variant: v8
      os: linux
